<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/docx@5.0.2/build/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
    {{!-- <script src="app/docfill.js"></script> --}}
    <script>
        document.addEventListener("#btn",(e)=>{

      fetch(`/saveinDB?filepath=doc.docx`).then((response)=>{
     console.log(response)
    })
        })
    </script>
    
</head>
<body>
    <button id="btn">word in prog</button>

</body>
</html>